.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.prompt-container {
  form {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 80%;
    }
  }

}
