<div class="chat-container">
  <div class="responses">
    <!--    <>-->
<!--    @for (response of responses; track $index) {-->
      <markdown *ngFor="let response of responses" [data]="response"></markdown>
<!--    }-->
    <!--    </>-->
  </div>
  <div class="prompt-container">
    <form (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width" matfor>
        <mat-label>Your request</mat-label>
        <textarea [formControl]="message" matInput (keyup.enter)="onSubmit()"></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit">Submit</button>
    </form>
  </div>

</div>
